<div class="container">
    <div class="row valign-wrapper">
        <div class="col s12">
            <div class="col s12 l5">
                <img class="responsive-img" src="../assets/images/aboutPhoto.jpg" alt="picture">
            </div>
            <div class="col s12 l7">
                <h3>Welcome!</h3>
                <p>Maecenas vehicula arcu augue, eget ultricies ligula blandit id. Vivamus ut tincidunt dolor, in rhoncus lacus. Etiam venenatis nulla ac hendrerit malesuada. Suspendisse diam risus, congue id erat sed, facilisis rhoncus dui. Donec id turpis vel urna ullamcorper feugiat. Phasellus erat nisi, molestie in porta sit amet, iaculis quis neque. Ut at vulputate arcu, in eleifend magna. Fusce aliquam sodales convallis. Vivamus at metus sit amet mi vehicula volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>Enjoy!
                </p>
            </div>
        </div>
    </div>
</div>