<div class="navbar-fixed">
  <nav class="teal lighten-4">
    <div class="nav-wrapper container">
      <a href="#!" class="brand-logo">MyBlog</a>
      <a href="#" data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/home">home</a></li>
        <li><a routerLink="/about">about</a></li>
        <li><a routerLink="/form">write a post</a></li>
      </ul>
    </div>
  </nav>
</div>
<ul class="sidenav" id="mobile">
  <li><a class="sidenav-close" routerLink="/home">home</a></li>
  <li><a class="sidenav-close" routerLink="/about">about</a></li>
  <li><a class="sidenav-close" routerLink="/form">write a post</a></li>
</ul>