*, *:before, *:after {
  box-sizing: border-box;
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
  
  app-root {
    display: flex; 
    min-height: 100vh; 
    flex-direction: column;
  }
}

main { 
  flex: 1 0 auto;
}

.btn {
  margin-right: 10px;
}

.error {
  font-size: 30px;
  text-align: center;
}